.hold{height: 465px;background-color: black;}
.card{width: 370px;height: 420px;float: left;margin-left: 60px;border-radius: 100px;}
.App{background-color: black;width: 1340px;}
.ta{margin-left: 70px;}
.ph{margin-left: 2px;}